In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
pd.read_table('ch06/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!type cho6/ex1.csv

命令语法不正确。

In [7]:
names = ['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
parsed = pd.read_csv('ch06/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [9]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [10]:
result = pd.read_table('ch06/ex3.txt',sep='\s+')

In [11]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [12]:
pd.read_csv('ch06/ex4.csv',skiprows=[0,2,3])#跳过文件的第一行，第三行和第四行

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
result = pd.read_csv('ch06/ex5.csv')

In [16]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [18]:
result = pd.read_csv('ch06/ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [19]:
sentinels = {'message':['foo','NA'],'something':['two']}
result = pd.read_csv('ch06/ex5.csv',na_values=sentinels)
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [20]:
pd.read_csv('ch06/ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [28]:
from pandas import Series,DataFrame
chunker = pd.read_csv('ch06/ex6.csv',chunksize=1000)
chunker
tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)

tot[:10]

0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
dtype: float64

In [31]:
dates = pd.date_range('1/1/2000',periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [32]:
ts = Series(np.arange(7),index=dates)
ts.to_csv('ch06/tseries.csv')
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [33]:
Series.from_csv('ch06/tseries.csv',parse_dates=True)

d:\www\learn-python\venv\lib\site-packages\pandas\core\series.py:2890: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  infer_datetime_format=infer_datetime_format)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

In [36]:
import csv
f = open('ch06/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [38]:
lines = list(csv.reader(open('ch06/ex7.csv')))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [40]:
header,values = lines[0],lines[1:]
data_dict = {h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [49]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quoterchar = '"'

f = open('ch06/ex7.csv')    
reader = csv.reader(f,my_dialect)
reader

TypeError: "quoting" must be an integer

In [48]:
csv.reader??

In [50]:
with open('mydata.csv','w') as f:
writer = csv.writer(f,dialect=my_dialect)
writer.writerow(('one','two','three'))
writer.writerow(('1','2','3'))
writer.writerow(('4','5','6'))
writer.writerow(('7','8','9'))

IndentationError: expected an indented block (<ipython-input-50-250426493782>, line 2)

In [51]:
import json
obj = """
{"name":"wes"}
"""
result = json.loads(obj)
result

{'name': 'wes'}

In [52]:
asjson = json.dumps(result)
asjson

'{"name": "wes"}'

In [68]:
from lxml.html import parse

import urllib.request

parsed = parse(urllib.request.urlopen('http://finance.yahoo.com/q/op?s=AAPPL+Options'))

doc = parsed.getroot()

In [70]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x6938098>,
 <Element a at 0x6938408>,
 <Element a at 0x69384a8>,
 <Element a at 0x6938ae8>,
 <Element a at 0x6938bd8>]

In [72]:
lnk = links[28]

In [73]:
lnk.text_content()

'Finance'

In [74]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/',
 '/watchlists',
 '/portfolios?bypass=true',
 '/screener',
 '/calendar',
 '/industries',
 '/personal-finance',
 '/tech',
 '/topic/yahoo-finance-podcast',
 '/live/facebook']

In [80]:
tables = doc.findall('.//table')
tables

[]

NameError: name 'calls' is not defined

In [82]:
from lxml import objectify

path = 'ch06/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [85]:
data = []
skip_fields = ['PARENT_SEQ','INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

perf = DataFrame(data)
perf

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95
5,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.4,95,6,2008,96.2,95
6,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96,95,7,2008,96.2,95
7,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,8,2008,96.2,95
8,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93.7,95,9,2008,95.9,95
9,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,10,2008,96,95
10,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,11,2008,96.1,95
11,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.1,95,12,2008,96,95
12,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,92.6,96.2,1,2009,92.6,96.2
13,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.8,96.2,2,2009,94.6,96.2
14,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.2,3,2009,95.4,96.2
15,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.1,96.2,4,2009,95.9,96.2
16,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.8,96.2,5,2009,96.2,96.2
17,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.3,96.2,6,2009,96.4,96.2
18,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.7,96.2,7,2009,96.5,96.2
19,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,8,2009,96.4,96.2
20,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.1,96.2,9,2009,96.3,96.2
21,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.8,96.2,10,2009,96.2,96.2
22,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,11,2009,96.1,96.2
23,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,96.2,12,2009,96,96.2
24,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98,96.3,1,2010,98,96.3
25,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93,96.3,2,2010,95.6,96.3
26,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.3,3,2010,96.1,96.3
27,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.1,96.3,4,2010,96.6,96.3
28,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.6,96.3,5,2010,96.8,96.3
29,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.4,96.3,6,2010,96.9,96.3
...,...,...,...,...,...,...,...,...,...,...,...,...
618,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,94,,7,2009,95.14,
619,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97,,8,2009,95.38,
620,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.3,,9,2009,95.7,
621,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.7,,10,2009,96,
622,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.1,,11,2009,96.21,
623,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,,12,2009,96.5,
624,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.95,97,1,2010,97.95,97
625,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2010,98.92,97
626,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,3,2010,99.29,97
627,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,4,2010,99.47,97
628,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,5,2010,99.58,97
629,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,91.21,97,6,2010,98.19,97
630,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,7,2010,98.46,97
631,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,8,2010,98.69,97
632,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,95.2,97,9,2010,98.3,97
633,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.91,97,10,2010,97.55,97
634,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,96.67,97,11,2010,97.47,97
635,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.03,97,12,2010,96.84,97
636,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,1,2011,100,97
637,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2011,100,97
638,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.07,97,3,2011,98.86,97
639,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.18,97,4,2011,98.76,97
640,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,79.18,97,5,2011,90.91,97
641,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,6,2011,,97
642,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,7,2011,,97
643,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,8,2011,,97
644,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,9,2011,,97
645,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,10,2011,,97
646,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,11,2011,,97
647,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,12,2011,,97

In [87]:
from StringIO import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
root

ModuleNotFoundError: No module named 'StringIO'

In [89]:
frame = pd.read_csv('ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [90]:
frame.save('ch06/frame_pickle')
pd.load('ch06/frame_pickle')

AttributeError: 'DataFrame' object has no attribute 'save'

In [91]:
#以上两个方法已补更换
frame.to_pickle('ch06/frame_pickle')
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [93]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [94]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [99]:
xls_file = pd.ExcelFile('ch06/data.xls')
table = xls_file.parse('Sheet1')

FileNotFoundError: [Errno 2] No such file or directory: 'ch06/ex1.xls'

In [105]:
import requests
url = 'http://search.twitter.com/search.json?q=prython%20pandas'
resp = requests.get(url)
resp

In [108]:
import json
data = json.loads(resp.text)
data.keys()

dict_keys(['errors'])

In [109]:
import sqlite3
query = """
create table test(a varchar(20),b varchar(20),c real,d integer);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [110]:
data = [('Atlanta','Georgia',1.25,6),('Tallahassee','Florida',2.6,3),('Sacramento','California',1.7,5)]
stmt = "insert into test values(?,?,?,?)"
con.executemany(stmt,data)
con.commit()

In [111]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [112]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [116]:
DataFrame(rows,columns=['a','b','c','d'])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [124]:
t = zip(*cursor.description)

In [125]:
t

In [126]:
import pandas.io.sql as sql
sql.read_frame('select * from test',con)

AttributeError: module 'pandas.io.sql' has no attribute 'read_frame'